<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 <%= title%> Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Welcome <%= username%></h1>
    <p>These are what your friends have been up to:</p>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Branch</th>
            <th scope="col">Your Rating</th>
            <th scope="col">Your Friend's Ratings</th>
            <th scope="col">Check Availability</th>

          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<userData.length; i++) { %>
          <tr>
            <tr>
              <td><%= userData[i].rname%></td>
              <td><%= userData[i].branchid%></td>
              <td><%= userData[i].mylatestrating%></td>
              <td><%= userData[i].friendsavgrating%></td>
              <td><a href= "<%= "/selectRestaurant/" +  userData[i].rname + "-" + userData[i].branchid%>/availability"</a>Check Availability</a></td>

            </tr>
          </tr>
          <% } %>
        </tbody>

      </table>

        <a href="/updatepreference">update preferences</a><br/>
        <a href="/account/<%= username%>/friends">Friends</a><br/>
  <a href="/">home</a><br/>
  <a href="/logout">Logout</a><br/>
	
  </body>
</html>
